[Desktop Entry]
Name=UnicornCommander-Dark
Comment=Dark theme for Unicorn Commander
Type=Service
X-KDE-PluginInfo-Name=UnicornCommander-Dark
X-KDE-PluginInfo-Category=Plasma Theme
X-Plasma-API=5.0
